# Maven  
target/
mvnw  
mvnw.cmd  
.settings/  

 



## IntelliJ IDEA  
.idea/

## VS Code  
# Configurazioni sensibili  
.env  

# File di log e cache  
logs/  
*.log  

/build/

config/local-settings.json